**/__pycache__
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/preview/*
!data/preview/.gitkeep
reports/*
!reports/logs
reports/logs/*
!reports/logs/.gitkeep
!reports/run_parameters
reports/run_parameters/*
!reports/run_parameters/.gitkeep
!reports/figures
reports/figures/*
!reports/figures/.gitkeep
!reports/train_results.csv
models/*
!models/.gitkeep
!models/detection_model+2021_07_06-16_53_02